{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": [ "eslint:recommended", "google"],
	"rules": {
		"semi": "off",
		"arrow-parens": "off",
		"indent": [2, "tab"],
		"no-tabs": "off",
		"linebreak-style": 0,
		"comma-dangle": "off",
		"keyword-spacing": "off",
		"require-jsdoc": "off",
		"operator-linebreak": "off",
		"object-curly-spacing": ["error", "always", { "objectsInObjects": false }]
	}
}